.pacientemariajosé
{
width:1624px;
height:924px;
padding:0px;
background-color:#ffffff;
position:absolute;
}
.cabeçalho
{
width:1624px;
height:150px;
position:absolute;
}
.cabeçalho2
{
width:1624px;
height:150px;
background-color:#2d5881;
}
.crm123456dr.joãojosé
{
text-align:left;
vertical-align:text-middle;
font-size:32px;
font-family:Inter;
line-height:auto;
color:#ffffff;
left:1233px;
top:28px;
position:absolute;
}
.whatsapp_image_2022-09-06_at_13.541
{
width:182px;
height:95px;
left:66px;
top:28px;
position:absolute;
}
.c36c-d08d-453a-9968-30aa27f3af571
{
width:63px;
height:68px;
left:1502px;
top:41px;
position:absolute;
}
.pacientes
{
text-align:left;
vertical-align:text-middle;
font-size:32px;
font-family:Inter;
left:399px;
top:54px;
width:174px;
height:39px;
position:absolute;
line-height:auto;
color:#7cadd4;
}
.medicamentos
{
text-align:left;
vertical-align:text-middle;
font-size:32px;
font-family:Inter;
left:625px;
top:54px;
width:260px;
height:39px;
position:absolute;
line-height:auto;
color:#ffffff;
}
.iniciarmix
{
text-align:left;
vertical-align:text-middle;
font-size:32px;
font-family:Inter;
left:937px;
top:54px;
width:182px;
height:39px;
position:absolute;
line-height:auto;
color:#ffffff;
}
.rectangle12
{
width:406px;
height:774px;
background-color:#bedfff;
}
.buscar
{
width:406px;
height:76px;
position:absolute;
}
.rectangle7
{
width:406px;
height:76px;
background-color:#d9d9d9;
}
.rectangle8
{
width:382.8080139160156px;
height:41.08108139038086px;
background-color:#ffffff;
left:11.73px;
top:17.45px;
position:absolute;
}
.rectangle9
{
width:69px;
height:42px;
background-color:#adcce9;
top:167px;
left:326px;
position:absolute;
}
.buscar2
{
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Inter;
left:326px;
top:167px;
width:69px;
height:42px;
position:absolute;
line-height:auto;
color:#000000;
}
.line1
{
transform:rotate(-90deg);
width:30.810810089111328px;
border:1px solid #000000;
top:172.59px;
left:14.66px;
position:absolute;
}
.listaderemédios
{
width:393px;
height:397px;
left:6px;
top:230px;
position:absolute;
}
.rectangle122
{
width:393px;
height:62px;
background-color:#8fcaf9;
top:297px;
left:6px;
position:absolute;
}
.rectangle123
{
width:393px;
height:62px;
background-color:#8fcaf9;
top:364px;
left:6px;
position:absolute;
}
.rectangle124
{
width:393px;
height:62px;
background-color:#8fcaf9;
top:431px;
left:6px;
position:absolute;
}
.rectangle125
{
width:393px;
height:62px;
background-color:#8fcaf9;
top:498px;
left:6px;
position:absolute;
}
.aparecidadossantos
{
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:24px;
top:514px;
width:248px;
height:29px;
position:absolute;
line-height:auto;
color:#000000;
}
.rectangle126
{
width:393px;
height:62px;
background-color:#7cadd4;
top:230px;
left:6px;
position:absolute;
}
.rectangle127
{
width:393px;
height:62px;
background-color:#8fcaf9;
top:565px;
left:6px;
position:absolute;
}
.medicamento2
{
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:24px;
top:447px;
width:358px;
height:30px;
position:absolute;
line-height:auto;
color:#000000;
}
.medicamento1
{
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:24px;
top:380px;
width:358px;
height:30px;
position:absolute;
line-height:auto;
color:#000000;
}
.medicamento4
{
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:24px;
top:253px;
width:358px;
height:30px;
position:absolute;
line-height:auto;
color:#000000;
}
.medicamento5
{
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:24px;
top:173px;
width:358px;
height:30px;
position:absolute;
line-height:auto;
color:#8b8b8b;
}
.medicamento6
{
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:24px;
top:320px;
width:358px;
height:30px;
position:absolute;
line-height:auto;
color:#000000;
}
.medicamento7
{
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:24px;
top:581px;
width:358px;
height:30px;
position:absolute;
line-height:auto;
color:#000000;
}
.cabeçalho3
{
width:521px;
height:146px;
top:188px;
left:452px;
position:absolute;
}
.nome:mariajosédeanchieta
{
text-align:left;
vertical-align:text-middle;
font-size:24px;
font-family:Inter;
left:452px;
top:188px;
width:394px;
height:29px;
position:absolute;
line-height:auto;
color:#000000;
}
.idade:67anos
{
text-align:left;
vertical-align:text-middle;
font-size:24px;
font-family:Inter;
left:452px;
top:227px;
width:188px;
height:29px;
position:absolute;
line-height:auto;
color:#000000;
}
.datadenasc.:30/07/1955
{
text-align:left;
vertical-align:text-middle;
font-size:24px;
font-family:Inter;
left:452px;
top:266px;
width:331px;
height:29px;
position:absolute;
line-height:auto;
color:#000000;
}
.médicoresponsável:joãojosébarros
{
text-align:left;
vertical-align:text-middle;
font-size:24px;
font-family:Inter;
left:452px;
top:305px;
width:521px;
height:29px;
position:absolute;
line-height:auto;
color:#000000;
}
.grupojátomado
{
width:537px;
height:503px;
top:364px;
left:452px;
position:absolute;
}
.rectangle30
{
border-radius:15px;
width:537px;
height:457px;
background-color:#adcce9;
top:410px;
left:452px;
position:absolute;
}
.járetirado:
{
text-align:center;
vertical-align:text-middle;
font-size:27px;
font-family:Inter;
left:630px;
top:364px;
width:182px;
height:33px;
position:absolute;
line-height:auto;
color:#000000;
}
.historico-medicamento4
{
width:497px;
height:46px;
top:431px;
left:472px;
position:absolute;
}
.rectangle29
{
border-radius:10px;
width:497px;
height:46px;
background-color:#3e77ad;
top:431px;
left:472px;
position:absolute;
}
.medicamento9
{
text-align:left;
vertical-align:text-middle;
font-size:24px;
font-family:Inter;
left:476.32px;
top:435.25px;
width:351.51739501953125px;
height:37.481483459472656px;
position:absolute;
line-height:auto;
color:#ffffff;
}
.historico-medicamento5
{
width:497px;
height:46px;
top:493px;
left:472px;
position:absolute;
}
.rectangle292
{
border-radius:10px;
width:497px;
height:46px;
background-color:#3e77ad;
top:493px;
left:472px;
position:absolute;
}
.medicamento11
{
text-align:left;
vertical-align:text-middle;
font-size:24px;
font-family:Inter;
left:476.32px;
top:497.25px;
width:351.51739501953125px;
height:37.481483459472656px;
position:absolute;
line-height:auto;
color:#ffffff;
}
.historico-medicamento42
{
width:497px;
height:46px;
top:555px;
left:472px;
position:absolute;
}
.rectangle293
{
border-radius:10px;
width:497px;
height:46px;
background-color:#3e77ad;
top:555px;
left:472px;
position:absolute;
}
.medicamento13
{
text-align:left;
vertical-align:text-middle;
font-size:24px;
font-family:Inter;
left:476.32px;
top:559.25px;
width:351.51739501953125px;
height:37.481483459472656px;
position:absolute;
line-height:auto;
color:#ffffff;
}
.historico-medicamento43
{
width:497px;
height:46px;
top:617px;
left:472px;
position:absolute;
}
.rectangle294
{
border-radius:10px;
width:497px;
height:46px;
background-color:#3e77ad;
top:617px;
left:472px;
position:absolute;
}
.medicamento15
{
text-align:left;
vertical-align:text-middle;
font-size:24px;
font-family:Inter;
left:476.32px;
top:621.25px;
width:351.51739501953125px;
height:37.481483459472656px;
position:absolute;
line-height:auto;
color:#ffffff;
}
.grupopratomar
{
width:537px;
height:503px;
top:364px;
left:1035px;
position:absolute;
}
.rectangle302
{
border-radius:15px;
width:537px;
height:457px;
background-color:#adcce9;
top:410px;
left:1035px;
position:absolute;
}
.pararetirar:
{
text-align:center;
vertical-align:text-middle;
font-size:27px;
font-family:Inter;
left:1207px;
top:364px;
width:195px;
height:33px;
position:absolute;
line-height:auto;
color:#000000;
}
.historico-medicamento44
{
width:497px;
height:46px;
top:431px;
left:1055px;
position:absolute;
}
.rectangle295
{
border-radius:10px;
width:497px;
height:46px;
background-color:#3e77ad;
top:431px;
left:1055px;
position:absolute;
}
.medicamento17
{
text-align:left;
vertical-align:text-middle;
font-size:24px;
font-family:Inter;
left:1059.32px;
top:435.25px;
width:351.51739501953125px;
height:37.481483459472656px;
position:absolute;
line-height:auto;
color:#ffffff;
}
.historico-medicamento52
{
width:497px;
height:46px;
top:493px;
left:1055px;
position:absolute;
}
.rectangle296
{
border-radius:10px;
width:497px;
height:46px;
background-color:#3e77ad;
top:493px;
left:1055px;
position:absolute;
}
.medicamento19
{
text-align:left;
vertical-align:text-middle;
font-size:24px;
font-family:Inter;
left:1059.32px;
top:497.25px;
width:351.51739501953125px;
height:37.481483459472656px;
position:absolute;
line-height:auto;
color:#ffffff;
}
.cód.id:0636
{
text-align:left;
vertical-align:text-middle;
font-size:24px;
font-family:Inter;
left:1411px;
top:188px;
width:163px;
height:29px;
position:absolute;
line-height:auto;
color:#000000;
}
