.paginamenu{
width:1624px;
height:924px;
padding:0px;
background-color:#ffffff;
position:absolute;
}
.cabeçalho{
width:1624px;
height:150px;
position:absolute;
}
.cabeçalho2{
width:1624px;
height:150px;
background-color:#2d5881;
}
.crm123456dr.joãojosé{
text-align:left;
vertical-align:text-middle;
font-size:32px;
font-family:Inter;
line-height:auto;
color:#ffffff;
left:1233px;
top:28px;
position:absolute;
}

.c36c-d08d-453a-9968-30aa27f3af571{
width:63px;
height:68px;
left:1502px;
top:41px;
position:absolute;
}
.rectangle26{
border-radius:20px;
width:300px;
height:150px;
background-color:#accbe8;
left:667px;
top:596px;
position:absolute;
}
.iniciarmix{
text-align:center;
vertical-align:text-middle;
font-size:32px;
font-family:Inter;
left:726px;
top:651px;
width:182px;
height:39px;
position:absolute;
line-height:auto;
color:#000000;
}
.rectangle25{
border-radius:20px;
width:300px;
height:150px;
background-color:#accbe8;
top:323px;
left:885px;
position:absolute;
}
.medicamentos{
text-align:center;
vertical-align:text-middle;
font-size:32px;
font-family:Inter;
left:904px;
top:378px;
width:260px;
height:39px;
position:absolute;
line-height:auto;
color:#000000;
}
.rectangle24{
border-radius:20px;
width:300px;
height:150px;
background-color:#accbe8;
top:323px;
left:438px;
position:absolute;
}
.pacientes{
text-align:center;
vertical-align:text-middle;
font-size:32px;
font-family:Inter;
left:501px;
top:378px;
width:174px;
height:39px;
position:absolute;
line-height:auto;
color:#000000;
}